.all-counter {
  text-align: center;
  border: 2px grey solid;
  width: 200px;
  height: 200px;
  margin: 250px auto;
  background-color: grey;
}

.button-div {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

button {
  width: 50px;
}